<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Academic Background || Work Experiences</title>

  <link rel="stylesheet" href="./../assets/css/bootstrap.css">
  <link rel="stylesheet" href="./../assets/css/style.css">
  <link rel="stylesheet" href="./../assets/css/education-experiences.css">
  <link rel="stylesheet" href="./../assets/css/nav.css">
</head>

<body>
  <header>
    <nav class="site-navigation">
      <div class="site-navigation-inner site-container">
        <a href="./../views/index.html"><img src="./../assets/img/site-logo.png" alt="site logo"></a>
        <div class="main-navigation">
          <ul class="main-navigation__ul">
            <li><a href="./../views/index.html">Home</a></li>
            <li><a href="./../views/about.html">About</a></li>
            <li><a href="./../views/education-experiences.html">Academic Background</a></li>
            <li><a href="./../views/education-experiences.html">Work Experiences</a></li>
            <li><a href="./../views/skills.html">Skills</a></li>
            <li><a href="./../views/contact.html">Contact</a></li>
            <!-- <li><a href="#">Page 4</a></li> -->
          </ul>
        </div>
        <div id="myBtn" class="burger-container" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section id="edu-exp">
      <div id="story" class="story-box main-timeline-box">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div>
                <h2 class="title-box universal-h2 universal-h2-bckg">Academic Background</h2>
              </div>
            </div>
          </div>
          <div class="row timeline-element separline">
            <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
              <div class="time-line-date-content">
                <p class="mbr-timeline-date mbr-fonts-style display-font">
                  May 2016 - April 2020
                </p>
              </div>
            </div>
            <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-left">
              <div class="timeline-text-content">
                <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">American International
                  University-Bangladesh (AIUB)</h4>
                <p class="mbr-timeline-text mbr-fonts-style display-7">
                  BSC in Computer Science And Software Engineering
                </p>
              </div>
            </div>
          </div>
          <div class="row timeline-element reverse separline">
            <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
              <div class="time-line-date-content">
                <p class="mbr-timeline-date mbr-fonts-style display-font">
                  July 2012 - April 2014
                </p>
              </div>
            </div>
            <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-right">
              <div class="timeline-text-content">
                <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Ishwardi Government College</h4>
                <p class="mbr-timeline-text mbr-fonts-style display-7">
                  Higher Secondary Certificate
                </p>
              </div>
            </div>
          </div>
          <div class="row timeline-element separline">
            <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
              <div class="time-line-date-content">
                <p class="mbr-timeline-date mbr-fonts-style display-font">
                  February 2012
                </p>
              </div>
            </div>
            <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-left">
              <div class="timeline-text-content">
                <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">North Bengal Peaper Mills High
                  School</h4>
                <p class="mbr-timeline-text mbr-fonts-style display-7">
                  Secondary School Certificate
                </p>
              </div>
            </div>
          </div>
          <div id="work-exp">
            <h2 class="title-box universal-h2 universal-h2-bckg">Work Experiences</h2>
          </div>
          <div class="row timeline-element reverse separline">
            <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
              <div class="time-line-date-content">
                <p class="mbr-timeline-date mbr-fonts-style display-font">
                  January 2020 - May 2020
                </p>
              </div>
            </div>
            <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-right">
              <div class="timeline-text-content">
                <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">LinkTech IT</h4>
                <p class="mbr-timeline-text mbr-fonts-style display-7">
                  Web Developer & Designer (Intern)
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer">
      <span>© Copyright <a href="">Tanvir Ahamed</a>. All Rights Reserved <br> Designed by <a href="">Tanvir
          Ahamed</a></span>
    </div>
  </footer>

  <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
  <script src="./../assets/js/popper.min.js"></script>
  <script src="./../assets/js/bootstrap.min.js"></script>
  <script src="./../assets/js/main.js"></script>
</body>

</html>