<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>

    <link rel="stylesheet" href="./../assets/css/bootstrap.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/skills.css">
    <link rel="stylesheet" href="./../assets/css/nav.css">
</head>
<body>
    <header>
        <nav class="site-navigation">
          <div class="site-navigation-inner site-container">
            <a href="./../views/index.html"><img src="./../assets/img/site-logo.png" alt="site logo"></a>
            <div class="main-navigation">
              <ul class="main-navigation__ul">
                <li><a href="./../views/index.html">Home</a></li>
                <li><a href="./../views/about.html">About</a></li>
                <li><a href="./../views/education-experiences.html">Academic Background</a></li>
                <li><a href="./../views/education-experiences.html">Work Experiences</a></li>
                <li><a href="./../views/skills.html">Skills</a></li>
                <li><a href="./../views/contact.html">Contact</a></li>
                <!-- <li><a href="#">Page 4</a></li> -->
              </ul>
            </div>
            <div id="myBtn" class="burger-container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <section class="skills">
            <div class="main-content">
                <div>
                    <h2 class="title-box title-universal-h2 universal-h2-bckg">Skills</h2>
                </div>
                <div class="row development">
                    <div class="col-lg-3 col-md-12 skills-title">
                        <h2>Development</h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">Front-End Framework <br></h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Responsive Web</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Client-Side Optimization</h2>
                    </div>
    
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2"></h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">Semantic Mark-Up</h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">Rapid Prototyping</h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">Performance Across Devices</h2>
                    </div>
                </div>
    
                <div class="row design">
                    <div class="col-lg-3 col-md-12 skills-title">
                        <h2>Design</h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">User Interface <br></h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Web Animation</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Information Architecture</h2>
                    </div>
    
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2"></h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">User Experience</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Motion Graphics</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Visual Design</h2>
                    </div>
                </div>
    
                <div class="tools">
                    <h2 class="title-box title-universal-h2 universal-h2-bckg">Tools</h2>
                </div>
                <div class="row development">
                    <div class="col-lg-3 col-md-12 skills-title">
                        <h2>Development</h2>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2">HTML</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">CSS</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Bootstrap </h2>
                    </div>
    
                    <div class="col-lg-3 col-md-12">
                        <h2 class="skills-universal-h2"></h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">SASS</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Version Control (GIT)</h2>
                    </div>
                    <div class="col-lg-3 col-md-12 ">
                        <h2 class="skills-universal-h2">Javascript</h2>
                    </div>
                </div>
            </div>
            

        </section>
      </main>

      <footer>
        <div class="footer">
          <span>© Copyright <a href="">Tanvir Ahamed</a>. All Rights Reserved <br> Designed by <a href="">Tanvir Ahamed</a></span>
        </div>
      </footer>

      <script src="./../assets/js/jquery-3.4.1.slim.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
      <script src="./../assets/js/popper.min.js"></script>
      <script src="./../assets/js/bootstrap.min.js"></script>
      <script src="./../assets/js/main.js"></script>
</body>
</html>